@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSansRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSansSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
  font-display: swap; }

@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodeProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

html {
  font-size: 1rem; }

body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #F7F7F7; }

:focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 2px 2px #2F2F30;
  border-radius: 6px; }

a:link, a:visited {
  color: #6665DD; }

a:active, a:hover {
  text-decoration: none;
  color: #6665DD; }

.main-container {
  max-width: 1224px;
  margin: auto;
  padding: 53px 24px; }

.center {
  display: flex;
  gap: 24px;
  align-items: flex-start; }

@media handheld, only screen and (min-width: 576px) and (max-width: 767px) {
  .center {
    flex-direction: column; } }

.content {
  width: calc(100% - 288px); }

@media handheld, only screen and (min-width: 768px) and (max-width: 992px) {
  .content {
    width: calc(100% - 215px); } }

@media handheld, only screen and (min-width: 576px) and (max-width: 767px) {
  .content {
    order: 1;
    width: 100%; } }

@media handheld, only screen and (max-width: 575px) {
  .content {
    order: 1;
    width: 100%; } }

.title {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2F30;
  line-height: 32px; }

.settings {
  padding: 32px 24px; }

.block {
  border: 1px solid #DBDCDE;
  box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  background: #ffffff; }
  .block__header {
    padding: 28px 32px;
    border-bottom: 1px solid #DBDCDE; }
  .block__wrapper {
    padding: 16px 32px;
    background: #FAFAFA; }

@media handheld, only screen and (max-width: 575px) {
  .main-container {
    padding: 15px; }
  .block__header {
    padding: 20px 16px; }
  .block__wrapper {
    padding: 20px 16px; }
  .center {
    flex-direction: column; }
  .settings {
    padding: 20px 16px; } }

.menu {
  width: 264px; }
  .menu__item:link, .menu__item:visited, .menu__item:active, .menu__item:hover {
    padding: 16px 16px 13px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    line-height: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2F2F30;
    text-decoration: none;
    border-bottom: 1px solid #DBDCDE; }
  .menu__item:active, .menu__item:hover {
    background: #F3F3F3; }
  .menu__item:last-child {
    border-bottom: none; }
  .menu_fixed {
    position: sticky;
    top: 0; }

@media handheld, only screen and (min-width: 576px) and (max-width: 767px) {
  .menu {
    order: 0;
    display: flex;
    width: 100%;
    margin-bottom: 0; }
    .menu__item:link, .menu__item:visited, .menu__item:active, .menu__item:hover {
      width: 25%;
      border-right: 1px solid #DBDCDE;
      border-bottom: none; }
    .menu__item:last-child {
      border-right: none; }
    .menu_fixed {
      position: relative;
      top: auto; } }

@media handheld, only screen and (max-width: 575px) {
  .menu {
    order: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0; }
    .menu_fixed {
      position: relative;
      top: auto; } }

.marker {
  display: flex;
  align-items: stretch; }
  .marker__item {
    padding: 0 32px;
    position: relative; }
    .marker__item:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 1px;
      background: #D7D8DA; }
    .marker__item:first-child {
      padding-left: 0;
      padding-right: 12px; }
    .marker__item:first-child:after {
      display: none; }
  .marker__label {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #6C6D6F;
    margin-bottom: 4px; }
  .marker__info {
    display: flex;
    align-items: center;
    gap: 8px; }
  .marker__info_succeeded {
    color: #2EB670; }

@media handheld, only screen and (max-width: 575px) {
  .marker {
    flex-direction: column;
    gap: 14px; }
    .marker__item {
      padding: 0; }
      .marker__item:after {
        display: none; } }

.donation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 32px;
  border-bottom: 1px solid #DBDCDE; }
  .donation__name {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    gap: 8px;
    font-size: 14px; }
  .donation__amount {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #6C6D6F;
    line-height: 32px; }
  .donation__main-amount {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #00A651;
    padding-right: 9px; }
  .donation__label {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #919293; }
  .donation__content {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #2F2F30;
    display: flex;
    align-items: center;
    gap: 8px; }
  .donation__copy {
    border: none;
    background: transparent;
    padding: 5px 0;
    cursor: pointer; }

@media handheld, only screen and (max-width: 575px) {
  .donation {
    gap: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px 16px; }
    .donation__main-amount {
      font-size: 20px; } }

.form {
  padding: 10px 35px;
  max-width: 486px; }
  .form__item {
    display: flex;
    margin-bottom: 24px;
    align-items: baseline;
    gap: 16px; }
    .form__item_margin {
      margin-bottom: 5px; }
  .form__label {
    padding: 11px 0;
    min-width: 124px;
    text-align: right;
    display: block; }
  .form__label-colum {
    padding: 0;
    min-width: 124px;
    text-align: right; }
  .form__field {
    display: flex;
    width: 100%; }
    .form__field-colum {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%; }
    .form__field-row {
      display: flex;
      flex-direction: row;
      gap: 24px;
      max-width: 296px;
      width: 100%; }

@media handheld, only screen and (max-width: 575px) {
  .main-container {
    padding: 15px; }
  .block__header {
    padding: 20px 16px; }
  .block__wrapper {
    padding: 20px 16px; }
  .filter {
    flex-direction: column;
    gap: 14px; }
    .filter__select {
      width: -moz-max-content;
      width: max-content; }
  .center {
    flex-direction: column; }
  .settings {
    padding: 20px 16px; }
  .form {
    padding: 0; }
    .form__item {
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
      flex-direction: column;
      margin-bottom: 18px; }
    .form__label {
      padding: 0;
      min-width: auto;
      text-align: left; } }

.filter {
  display: flex;
  gap: 28px; }
  .filter__form {
    max-width: 336px;
    width: 100%; }
  .filter__select {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 25px 8px 12px;
    cursor: pointer;
    color: #2F2F30;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("../img/arrow-filter.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 9px;
    background-position: 95% 50%;
    border: none;
    border-radius: 8px; }

@media handheld, only screen and (max-width: 575px) {
  .filter {
    flex-direction: column;
    gap: 14px; }
    .filter__select {
      width: -moz-max-content;
      width: max-content; } }

.range {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%; }
  .range__wrapper {
    position: relative;
    max-width: 218px;
    width: 100%; }
  .range__slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 3px;
    background: #DBDCDE;
    border-radius: 8px;
    margin: 0px; }
    .range__slider:hover {
      opacity: 1; }
    .range__slider:focus-visible {
      box-shadow: 0px 0px 2px 2px #2F2F30; }
    .range__slider:disabled, .range__slider.disabled {
      background: #DBDCDE; }
      .range__slider:disabled::-webkit-slider-thumb, .range__slider.disabled::-webkit-slider-thumb {
        -webkit-appearance: none;
                appearance: none;
        background: #DBDCDE;
        pointer-events: none; }
      .range__slider:disabled::-moz-range-thumb, .range__slider.disabled::-moz-range-thumb {
        background: #DBDCDE;
        pointer-events: none; }
    .range__slider:disabled + .range__fill,
    .range__slider.disabled + .range__fill {
      background: #DBDCDE; }
    .range__slider::-webkit-slider-thumb {
      -webkit-appearance: none;
              appearance: none;
      width: 19px;
      height: 19px;
      background: #2EB670;
      border-radius: 100%;
      cursor: pointer; }
    .range__slider::-moz-range-thumb {
      width: 19px;
      height: 19px;
      background: #2EB670;
      border-radius: 100%;
      cursor: pointer; }
  .range__fill {
    position: absolute;
    z-index: 50;
    top: calc(50% + 3px);
    height: 3px;
    width: 0%;
    border-radius: 6px;
    background: #2EB670; }

.tab__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden; }
  .tab__menu li a {
    cursor: pointer;
    padding: 16px 15px 15px 16px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2F2F30;
    white-space: nowrap;
    border: 1px solid transparent;
    position: relative;
    display: flex; }
    .tab__menu li a:after {
      content: "";
      width: auto;
      height: 3px;
      background: #ffffff;
      position: absolute;
      bottom: -3px;
      right: 0;
      left: 0; }
    .tab__menu li a:hover {
      color: #00A651; }
    .tab__menu li a.active {
      color: #00A651;
      display: flex;
      border: 1px solid #DBDCDE;
      border-radius: 6px 6px 0 0;
      z-index: 1;
      background: white; }
  @supports (-moz-appearance: none) {
    .tab__menu html {
      scrollbar-width: thin; } }
  .tab__menu::-webkit-scrollbar {
    width: 4px;
    height: 5px; }
  .tab__menu::-webkit-scrollbar-thumb {
    background: #00A651;
    border: 0.0625rem solid #00A651;
    border-radius: 8px; }
  .tab__menu::-webkit-scrollbar-track {
    border: 8px solid #DBDCDE;
    border-radius: 8px; }

.tab__container {
  border-top: none;
  clear: both;
  width: 100%;
  position: relative;
  margin-top: -1px; }
  .tab__container:after {
    content: "";
    width: auto;
    height: 1px;
    background: #DBDCDE;
    position: absolute;
    top: 0;
    right: -24px;
    left: -24px; }

.tab__footer {
  display: flex;
  gap: 16px;
  background: #FFFBEC;
  padding: 24px 32px;
  margin: 0 -24px -32px -24px;
  border-top: 2px solid #DBDCDE; }

.tab__content {
  padding: 30px 0 0 0;
  max-width: 1240px;
  display: none; }

@media handheld, only screen and (max-width: 575px) {
  .tab__footer {
    padding: 20px 16px;
    margin: 0 -16px -20px -16px;
    flex-direction: column; } }

.checkbox {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: relative; }
  .checkbox input[type="checkbox"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    max-width: 24px;
    height: 24px;
    border: 2px solid #2EB670;
    border-radius: 4px;
    margin: 0;
    cursor: pointer; }
    .checkbox input[type="checkbox"]:checked {
      position: relative;
      background: none; }
      .checkbox input[type="checkbox"]:checked::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: url("../img/check.svg"); }
    .checkbox input[type="checkbox"]:focus-visible {
      outline: none;
      box-shadow: 0px 0px 2px 2px #2F2F30;
      border-radius: 6px; }
    .checkbox input[type="checkbox"]:disabled, .checkbox input[type="checkbox"].disabled {
      position: relative;
      background: #F3F3F3;
      border: 2px solid #DBDCDE; }
      .checkbox input[type="checkbox"]:disabled::after, .checkbox input[type="checkbox"].disabled::after {
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: url("../img/check-disabled.svg"); }

.radio {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: relative; }
  .radio__label {
    line-height: 24px;
    margin-left: calc(24px + 12px); }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .radio input[type="radio"] + .radio__label:before {
      content: "";
      background: none;
      border-radius: 100%;
      border: 1px solid #a9abae;
      display: inline-block;
      top: 0;
      left: 0;
      bottom: 0;
      width: 24px;
      margin: auto;
      height: 24px;
      box-sizing: border-box;
      position: absolute;
      cursor: pointer;
      text-align: center; }
    .radio input[type="radio"]:checked + .radio__label:before {
      border: 2px solid #2EB670;
      background-color: #2EB670;
      box-shadow: inset 0 0 0 4px #ffffff; }
    .radio input[type="radio"].disabled {
      pointer-events: none;
      cursor: none; }
    .radio input[type="radio"].disabled + .radio__label:before,
    .radio input[type="radio"]:disabled + .radio__label:before {
      box-shadow: inset 0 0 0 4px #F3F3F3;
      border-color: #DBDCDE;
      background: #F3F3F3;
      pointer-events: none;
      cursor: none; }
    .radio input[type="radio"]:checked.disabled + .radio__label:before,
    .radio input[type="radio"]:checked:disabled + .radio__label:before {
      box-shadow: inset 0 0 0 4px #F3F3F3;
      border-color: #DBDCDE;
      background: #DBDCDE;
      pointer-events: none;
      cursor: none; }
    .radio input[type="radio"]:focus-visible + .radio__label:before,
    .radio input[type="radio"]:checked:focus-visible + .radio__label:before {
      box-shadow: 0 0 2px 2px #2F2F30, inset 0 0 0 4px #ffffff;
      border-color: #2EB670; }
    .radio input[type="radio"] + .radio__label:empty:before {
      margin-right: 0; }

.button {
  background: #ffffff;
  border: 1px solid #a9abae;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2F2F30;
  cursor: pointer; }
  .button:visited, .button:focus, .button:active {
    background: #ffffff;
    border: 1px solid #a9abae;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2F2F30;
    cursor: pointer; }
  .button:hover {
    background: #ffffff;
    color: #2EB670;
    border: 1px solid #2EB670; }
  .button-primary {
    background: #2EB670;
    border: 1px solid #2EB670;
    border-radius: 6px;
    color: #ffffff; }
    .button-primary:visited, .button-primary:focus, .button-primary:active {
      background: #2EB670;
      border: 1px solid #2EB670;
      border-radius: 6px;
      color: #ffffff; }
    .button-primary:hover {
      background: #ffffff;
      color: #2EB670;
      border: 1px solid #2EB670; }

.select {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 20px 8px 12px;
  line-height: 24px;
  cursor: pointer;
  color: #2F2F30;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/arrow-select.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 100% 50%;
  background-color: #ffffff;
  border: 1px solid #a9abae;
  border-radius: 6px;
  width: 100%;
  box-sizing: content-box; }
  .select:disabled, .select.disabled {
    background-color: #F3F3F3;
    color: #DBDCDE;
    border: 1px solid #DBDCDE;
    background-image: url("../img/arrow-select-disabled.svg");
    pointer-events: none; }
  .select_currency {
    width: 80px; }

.input {
  border: 1px solid #a9abae;
  border-radius: 8px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 12px;
  color: #2F2F30;
  width: 100%; }
  .input:disabled, .input.disabled {
    background-color: #F3F3F3;
    color: #DBDCDE;
    border: 1px solid #DBDCDE;
    pointer-events: none; }
  .input-search {
    background-image: url("../img/search.svg");
    background-position: 14px 50%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding-left: 41px;
    border: 1px solid #DBDCDE;
    color: #6C6D6F;
    line-height: 21px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .input input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none; }
