html {
	font-size: 1rem;
}
body {
	padding: 0;
	margin: 0;
	position: relative;
	@include main-font(400, 16px);
    background: $var13;
} 
:focus-visible {
    outline: none; 
    box-shadow: inset 0px 0px 2px 2px $var2;
    border-radius: 6px;
}
a {
    &:link, 
    &:visited {
        color: $var1; 
    } 
    &:active, 
    &:hover {
        text-decoration: none;
        color: $var1;
    }
}
.main-container {
	max-width: 1224px;
	margin: auto;
	padding: 53px 24px;
}
.center {
	display: flex;
	gap: 24px;
	align-items: flex-start;
}
@media handheld,
only screen and (min-width: 576px) and (max-width: 767px) {
    .center {
        flex-direction: column;
    }
}

.content {
	width: calc(100% - 288px);
}
@media handheld,
only screen and (min-width: 768px) and (max-width: 992px) {
    .content {
        width: calc(100% - 215px);
    }
}

@media handheld,
only screen and (min-width: 576px)  and (max-width: 767px) {
    .content {
        order: 1;
        width: 100%;

    }
}

@media handheld,
only screen and (max-width: 575px) {
    .content {
        order: 1;
        width: 100%; 
    }
}

.title {
	@include main-font(400, 24px);
	color: $var2;
    line-height: 32px;
}
.settings {
	padding: 32px 24px;
}
.block {
	border: 1px solid $var3;
	box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
	border-radius: 8px;
	margin-bottom: 24px;
	overflow: hidden;
    background: $var11;
	&__header {
		padding: 28px 32px;
		border-bottom: 1px solid $var3;
	}
	&__wrapper {
		padding: 16px 32px;
		background: $var4;
	}
}

@media handheld,
only screen and (max-width: 575px) {
    .main-container { 
        padding: 15px;
    }
    .block {
        &__header {
            padding: 20px 16px; 
        }
        &__wrapper {
            padding: 20px 16px; 
        }
    } 
    .center {
        flex-direction: column; 
    }  
    .settings {
        padding: 20px 16px;
    }   
}