html {
	font-size: 1rem;
}
body {
	padding: 0;
	margin: 0;
	position: relative;
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 16px;
}
a:link, 
a:visited {
   color: $var1; 
} 
a:active, 
a:hover {
    text-decoration: none;
	color: $var1;
}
.logo {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.main-container {
	max-width: 1224px;
	margin: auto;
	padding: 53px 24px;
}
.center {
	display: flex;
	gap: 24px;
	align-items: flex-start;
}
@media handheld,
only screen and (min-width: 576px) and (max-width: 767px) {
    .center {
        flex-direction: column;
    }
}


.content {
	width: calc(100% - 264px);
}
@media handheld,
only screen and (min-width: 768px) and (max-width: 992px) {
    .content {
        width: calc(100% - 215px);
    }
}
@media handheld,
only screen and (min-width: 576px)  and (max-width: 767px) {
    .content {
        order: 1;
        width: 100%;

    }
}
@media handheld,
only screen and (max-width: 575px) {
    .content {
        order: 1;
        width: 100%; 
    }
}

.title {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 24px;
	color: $var2;
}
.settings {
	padding: 32px 24px;
}
.block {
	border: 1px solid $var3;
	box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
	border-radius: 8px;
	margin-bottom: 24px;
	overflow: hidden;
	&__header {
		padding: 28px 32px;
		border-bottom: 1px solid $var3;
	}
	&__wrapper {
		padding: 16px 32px;
		background: $var4;
	}
}
.filter {
	display: flex;
	gap: 28px;
    &__select {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 16px;
        padding: 8px 25px 8px 12px;
        cursor: pointer;
        color: $var2; 
        appearance: none;
        background-image: url("../img/arrow-filter.svg");
        background-repeat: no-repeat;
        background-size: 9px;
        background-position: 95% 50%;
        border: none;  
    }
}
.input {
	border: 1px solid $var5;
	border-radius: 8px;
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 16px;
	padding: 8px 12px;
	color: $var2;
	width: 100%;
	&-search {
		background-image: url("../img/search.svg");
		background-position: 14px 50%;
		background-repeat: no-repeat;
		padding-left: 48px;
		border: 1px solid $var3;
		color: $var6;
	}
}
.donation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__name {
		display: flex;
		align-items: center;
		margin-bottom: 4px;
	}
	&__amount {
		font-family: "Work Sans";
		font-weight: 400;
		font-size: 16px;
		color: $var6;
	}
	&__main-amount {
		font-family: "Work Sans";
		font-weight: 400;
		font-size: 24px;
		color: $var7;
		padding-right: 9px;
	}
	&__label {
		font-family: "Source Code Pro";
		font-weight: 400;
		font-size: 16px;
		color: $var8;
	}
	&__content {
		font-family: "Source Code Pro";
		font-weight: 400;
		font-size: 16px;
		color: $var2;
	}
	&__copy {
		border: none;
		background: transparent;
		padding: 0;
        cursor: pointer;
	}
}
.marker {
    display: flex;
    align-items: stretch;
    &__item {
        padding: 0 32px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 1px;
            background: #D7D8DA;
        }
        &:first-child {
            padding-left: 0;
        }
        &:first-child:after {
            display: none;
        }
    }
    &__label {
        font-family: "Work Sans"; 
        font-weight: 400;
        font-size: 14px; 
        color: $var6;
        margin-bottom: 2px;
    }
    &__info {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__info_succeeded {
        color: $var14; 
    }

}
.menu {
	width: 264px;
	&__item {
        &:link, 
        &:visited, 
        &:active, 
        &:hover {
            padding: 12px 16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            font-family: "Work Sans";
            font-weight: 400;
            font-size: 16px;
            color: $var2;
            text-decoration: none;
            border-bottom: 1px solid $var3;
        }
    }
	&__item:active, 
    &__item:hover {
		background: $var9;
	}
	&__item:last-child {
		border-bottom: none;
	}
    &_fixed {
        position: sticky;
        top: 0; 
    }
}
@media handheld,
only  screen and (min-width: 576px)  and (max-width: 767px) {
    .menu {
        order: 0;
        display: flex;
        width: 100%;
        margin-bottom: 0;
        &__item {
            &:link, 
            &:visited, 
            &:active, 
            &:hover { 
                width: 25%;
                border-right: 1px solid $var3;
            }
        } 
        &__item:last-child {
            border-right: none;
        }
        &_fixed {
            position: relative;
            top: auto; 
        }
    }
}
@media handheld,
only screen and (max-width: 575px) {
    .menu {
        order: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0; 
        &_fixed {
            position: relative;
            top: auto; 
        }
    }
}
/*------------------------*/ 
.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: flex-start;
	position: relative;
    overflow-x: auto;
    overflow-y: hidden;
        
    @supports (-moz-appearance: none) {
        html { 
            scrollbar-width: thin;
        }
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 5px;
    } 
    &::-webkit-scrollbar-thumb {
        background: $var7;
        border: .0625rem solid $var7;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        border: 8px solid $var3;
        border-radius: 8px;
    } 
}  
.tab {
    .tabs li a {
        cursor: pointer;
        padding: 14px 16px 12px 16px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: $var2;
        white-space: nowrap;
        border: 1px solid transparent;
        position: relative;
        display: flex;
        &:after {
            content: "";
            width: auto;
            height: 3px;
            background: $var11;
            position: absolute;
            bottom: -3px;
            right: 0;
            left: 0;
        }
        &:hover {
            color: $var7;
        }
        &.active {
            color: $var7;
            display: flex;
            border: 1px solid $var3; 
            border-radius: 6px 6px 0 0;
            z-index: 1;
            background: white;
        }
    }
    &__container {
        border-top: none;
        clear: both;
        width: 100%;
        position: relative;
        margin-top: -1px;
        &:after {
            content: "";
            width: auto;
            height: 1px;
            background: $var3;
            position: absolute;
            top: 0;
            right: -24px;
            left: -24px;
        }
    }
    &__footer {
        display: flex;
        gap: 16px;
        background: $var12;
        padding: 24px 32px;
        margin: 0 -24px -32px -24px;
        border-top: 2px solid $var3;
    }
    &__content {
        padding: 30px 0 0 0;
        max-width: 1240px;
        display: none; 
    }  
}  
.form {
	padding: 16px;
	max-width: 486px;
	&__item {
		display: flex;
		margin-bottom: 24px;
		align-items: flex-start;
		gap: 16px;
	}
	&__label {
		padding: 4px 0;
		min-width: 124px;
		text-align: right;
	}
	&__field {
		display: flex;
		width: 100%;
		&-colum {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&-row {
			display: flex;
			flex-direction: row;
			gap: 24px;
            max-width: 296px;
            width: 100%;
		}
	}
	&__label {
		display: block;
	}
	&__radio, 
    &__checkbox, 
    &__range {
		display: flex;
		gap: 12px;
		align-items: center;
		justify-content: flex-start;
		position: relative;
	}
    &__range-wrapper {
        position: relative;
        max-width: 218px;
        width: 100%;
    }
	&__radio-label {
		margin-left: calc(24px + 12px);
	}
	input[type="radio"] {
		position: absolute;
		opacity: 0;
		+ .form__radio-label:before {
			content: "";
			background: none;
			border-radius: 100%;
			border: 1px solid $var5;
			border-radius: 100%;
			display: inline-block;
			top: 0;
			left: 0;
			bottom: 0;
			width: 24px;
			margin: auto;
			height: 24px;
			box-sizing: border-box;
			position: absolute;
			cursor: pointer;
			text-align: center; 
		}
		&:checked + .form__radio-label:before {
			border: 2px solid $var14;
			background-color: $var14;
			box-shadow: inset 0 0 0 4px $var11;
		}
        &:checked:focus + .form__radio-label:before {
            box-shadow: 0 0 2px 1px $var14, inset 0 0 0 4px $var11;
          }
		&:focus + .form__radio-label:before {
			border-color: $var14;
		}
		+ .form__radio-label:empty:before {
			margin-right: 0;
		}
	}
	input[type="checkbox"] { 
		appearance: none;
		width: 100%;
        max-width: 24px;
		height: 24px;
		border: 2px solid $var14;
		border-radius: 4px;
		margin: 0;
        cursor: pointer;
		&:checked {
			position: relative;
			background: none;
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				width: 100%;
				height: 100%;
                background: url("../img/check.svg");
				  
			}
		}
	}
}
.select {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 16px;
	padding: 8px 20px 8px 12px;
	cursor: pointer;
	color: $var2; 
	appearance: none;
	background-image: url("../img/arrow-select.svg");
	background-repeat: no-repeat;
	background-size: 18px;
    background-position: 100% 50%;
    background-color: $var11; 
	border: 1px solid $var5;
	border-radius: 6px;
	width: 100%;
    &_currency {
        width: 80px;
    }
}
.button {
    background: $var11;
    border: 1px solid $var5;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 16px;
    color: $var2;
    cursor: pointer;
    &:visited,
    &:focus,
    &:active {
        background: $var11;
        border: 1px solid $var5;
        border-radius: 8px;
        padding: 12px 24px;
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 16px;
        color: $var2;
        cursor: pointer;
    } 
    &:hover {
        background: $var11;
        color: $var14;
		border: 1px solid $var14;
    } 
	&-primary {
        background: $var14;
        border: 1px solid $var14;
        border-radius: 6px;
        color: $var11;
        &:visited,
        &:focus,
        &:active {
            background: $var14;
            border: 1px solid $var14;
            border-radius: 6px;
            color: $var11;
        }
        &:hover {
            background: $var11;
            color: $var14;
            border: 1px solid $var14;
        }
		
	}
}
.slider { 
	appearance: none;
	width: 100%;
	height: 3px;
	background: $var3;  
	border-radius: 8px;
    margin: 0px;
	&:hover {
		opacity: 1;
	}
	&::-webkit-slider-thumb { 
		appearance: none;
		width: 19px;
		height: 19px;
		background: $var14;
		border-radius: 100%;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 19px;
		height: 19px;
		background: $var14;
		border-radius: 100%;
		cursor: pointer;
	}

}
.fill {
	position: absolute;
	z-index: 50;
	top: calc(50% + 3px);
	height: 3px;
	width: 0%;
	border-radius: 6px;
	background: $var14;
}


@media handheld,
only screen and (max-width: 575px) {
    .main-container { 
        padding: 15px;
    }
    .block {
        &__header {
            padding: 20px 16px; 
        }
        &__wrapper {
            padding: 20px 16px; 
        }
    }
    .filter { 
        flex-direction: column;
        gap: 14px;
        &__select { 
            width: max-content;
        }
    }
    .center {
        flex-direction: column; 
    }
    .donation { 
        gap: 14px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        &__main-amount {
            font-size: 20px;
        }
    }
    .marker { 
        flex-direction: column;
        gap: 14px;
        &__item {
            padding: 0;
            &:after {
                display: none;
            } 
        }
    }
    .settings {
        padding: 20px 16px;
    }
    .form {
        padding: 0;
        &__item { 
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;
            flex-direction: column;
            margin-bottom: 18px;
        }
        &__label {
            padding: 0;
            min-width: auto;
            text-align: left;
        }
    }
    .tab {
        &__footer { 
            padding: 20px 16px;
            margin: 0 -16px -20px -16px;
            flex-direction: column;
        }
    }
   
    
}