.range {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    &__wrapper {
        position: relative;
        max-width: 218px;
        width: 100%;
    }
    &__slider { 
        appearance: none;
        width: 100%;
        height: 3px;
        background: $var3;  
        border-radius: 8px;
        margin: 0px;
        &:hover {
            opacity: 1;
        } 
        &:focus-visible {
            box-shadow: 0px 0px 2px 2px $var2; 
        }
        &:disabled,
        &.disabled {
            background: $var3;
            &::-webkit-slider-thumb { 
                appearance: none; 
                background: $var3; 
                pointer-events: none; 
            }
            &::-moz-range-thumb { 
                background: $var3; 
                pointer-events: none; 

            }
        }
        &:disabled + .range__fill,
        &.disabled + .range__fill { 
            background: $var3;
        }
        &::-webkit-slider-thumb { 
            appearance: none;
            width: 19px;
            height: 19px;
            background: $var14;
            border-radius: 100%;
            cursor: pointer;
        }
        &::-moz-range-thumb {
            width: 19px;
            height: 19px;
            background: $var14;
            border-radius: 100%;
            cursor: pointer;
        }
    
    }
    &__fill {
        position: absolute;
        z-index: 50;
        top: calc(50% + 3px);
        height: 3px;
        width: 0%;
        border-radius: 6px;
        background: $var14;
    }
}