.tab { 
    &__menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: flex-start;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        li a {
            cursor: pointer;
            padding: 16px 15px 15px 16px;
            box-sizing: border-box;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
            color: $var2;
            white-space: nowrap;
            border: 1px solid transparent;
            position: relative;
            display: flex;
            &:after {
                content: "";
                width: auto;
                height: 3px;
                background: $var11;
                position: absolute;
                bottom: -3px;
                right: 0;
                left: 0;
            }
            &:hover {
                color: $var7;
            }
            &.active {
                color: $var7;
                display: flex;
                border: 1px solid $var3; 
                border-radius: 6px 6px 0 0;
                z-index: 1;
                background: white;
            }
        }
            
        @supports (-moz-appearance: none) {
            html { 
                scrollbar-width: thin;
            }
        }
    
        &::-webkit-scrollbar {
            width: 4px;
            height: 5px;
        } 
        &::-webkit-scrollbar-thumb {
            background: $var7;
            border: .0625rem solid $var7;
            border-radius: 8px;
        }
    
        &::-webkit-scrollbar-track {
            border: 8px solid $var3;
            border-radius: 8px;
        } 
    }  
    &__container {
        border-top: none;
        clear: both;
        width: 100%;
        position: relative;
        margin-top: -1px;
        &:after {
            content: "";
            width: auto;
            height: 1px;
            background: $var3;
            position: absolute;
            top: 0;
            right: -24px;
            left: -24px;
        }
    }
    &__footer {
        display: flex;
        gap: 16px;
        background: $var12;
        padding: 24px 32px;
        margin: 0 -24px -32px -24px;
        border-top: 2px solid $var3;
    }
    &__content {
        padding: 30px 0 0 0;
        max-width: 1240px;
        display: none; 
    }  
}

@media handheld,
only screen and (max-width: 575px) {
    .tab {
        &__footer { 
            padding: 20px 16px;
            margin: 0 -16px -20px -16px;
            flex-direction: column;
        }
    } 
}