$var1: #6665DD;
$var2: #2F2F30;
$var3: #DBDCDE;
$var4: #FAFAFA;
$var5: #a9abae;
$var6: #6C6D6F;
$var7: #00A651;
$var8: #919293;
$var9: #F3F3F3; 
$var11: #ffffff;
$var12: #FFFBEC; 
$var13: #F7F7F7;
$var14: #2EB670; 